# This is Git's per-user configuration file.
[user]
    name = kesuoyk
    email = 107860025+kesuoyk@users.noreply.github.com

[core]
    excludesfile = ~/.gitignore_global
    editor = nvim

[color]
    ui = auto

[diff]
    tool = nvimdiff

[merge]
    tool = nvimdiff
    conflictstyle = zdiff3

[difftool "nvimdiff"]
    cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""

[mergetool "nvimdiff"]
    cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\""

[credential]
    helper = cache --timeout=3600

[status]
    displayCommentPrefix = true

[fetch]
    prune = true

[pull]
    ff = only

[push]
    default = current
    autoSetupRemote = true

[init]
    defaultBranch = main
